body {
    background-color: black;
}
.col0 {
    color: wheat;
}
.col1 {
    color: red;
}
.col2 {
    color: orange;
}
.col3 {
    color: yellow;
}
.col4 {
    color: green;
}
.col5 {
    color: lightskyblue;
}
.col6 {
    color: blue;
}
.col7 {
    color: blueviolet;
}